@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Julius+Sans+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navbar-active :last-child {
    @apply scale-x-100;
  }

  .main-gradient-light {
    @apply from-violet-600;
    @apply to-green-600;
  }

  .main-gradient-dark {
    @apply from-violet-950;
    @apply to-green-950;
  }
}
